In [1]:
int_list = [1,2,3]

In [2]:
mixed_list = [1,2.0, 'string']

In [3]:
print(mixed_list[-1])
len(mixed_list)

string

3

In [4]:
print(mixed_list[1:])

[2.0, 'string']

In [5]:
names1 = ['John', 'Alice', 'Bob']
names2 = ['Mason', 'Elijah', 'Tracy']
names_combined = names1 + names2
print(names_combined)

['John', 'Alice', 'Bob', 'Mason', 'Elijah', 'Tracy']

In [6]:
names_combined[0] = 'William'
print(names_combined)

['William', 'Alice', 'Bob', 'Mason', 'Elijah', 'Tracy']

In [7]:
names_combined.append('Johua')
names_combined.append('Andrei')
print(names_combined)

['William', 'Alice', 'Bob', 'Mason', 'Elijah', 'Tracy', 'Johua', 'Andrei']

In [8]:
poped = names_combined.pop()
print(poped)
print(names_combined)

Andrei
['William', 'Alice', 'Bob', 'Mason', 'Elijah', 'Tracy', 'Johua']

In [9]:
poped2 = names_combined.pop(1)
print(poped2)
print(names_combined)

Alice
['William', 'Bob', 'Mason', 'Elijah', 'Tracy', 'Johua']

In [10]:
names_combined.append('James')
names_combined.sort()
print(names_combined)

['Bob', 'Elijah', 'James', 'Johua', 'Mason', 'Tracy', 'William']

In [12]:
letters = ['ac', 'aa', 'ab']
letters.sort()
print(letters)

['aa', 'ab', 'ac']

In [17]:
letters1 = ['bc', 'aaca', 'kdadsc',' xydasdasz']
letters1.sort(key=len)
print(letters1)

['bc', 'aaca', 'kdadsc', ' xydasdasz']

In [20]:
numbers = [321, 434, 43242, 9989, 312312, 123123, 87438, 2]
print(numbers)
numbers.sort()
print(numbers)

[321, 434, 43242, 9989, 312312, 123123, 87438, 2]
[2, 321, 434, 9989, 43242, 87438, 123123, 312312]

In [31]:
numbers1 = [312, 3123123, 4343, 5454, 2]
print(numbers1)
numbers1.reverse()
print(numbers1)
numbers1.sort(reverse=True)
print(numbers1)
numbers1.insert(1,22)
print(numbers1)
numbers1.index(2)
print(numbers1.count(2))
copy = numbers1.copy()
print(copy)
copy.clear()
print(copy)

[312, 3123123, 4343, 5454, 2]
[2, 5454, 4343, 3123123, 312]
[3123123, 5454, 4343, 312, 2]
[3123123, 22, 5454, 4343, 312, 2]
1
[3123123, 22, 5454, 4343, 312, 2]
[]