In [1]:
from datetime import datetime
from datetime import date
from datetime import time
from datetime import timedelta

In [2]:
d1 = date(2019, 3, 12)

In [3]:
print(d1)
print(d1.year)
print(d1.month)
print(d1.day)

2019-03-12
2019
3
12

In [4]:
t1 = time(23, 10, 59)

In [6]:
print(t1)
print(t1.hour)
print(t1.minute)
print(t1.second)

23:10:59
23
10
59

In [7]:
print(date.today())

2021-03-25

In [8]:
print(date.max)
print(date.min)
print(time.min)
print(time.max)

9999-12-31
0001-01-01
00:00:00
23:59:59.999999

In [9]:
dt = datetime(2019, 3, 12, 15, 17)

In [10]:
print(dt)

2019-03-12 15:17:00

In [11]:
print(dt.date().year)
print(dt.time().hour)

2019
15

In [13]:
print(datetime.max)
print(datetime.min)

9999-12-31 23:59:59.999999
0001-01-01 00:00:00

In [18]:
now = datetime.now()

In [19]:
print(now)

2021-03-25 15:28:15.057999

In [20]:
print(now.year)
print(now.month)

2021
3

In [22]:
new_dt = now.replace(year=2018)
print(new_dt)

2018-03-25 15:28:15.057999

In [23]:
print(now)

2021-03-25 15:28:15.057999

In [26]:
dt = datetime.strptime('30/08/2018', '%d/%m/%Y')
print(dt)
dt1 = datetime.strptime('29/3/2018 10:40', "%d/%m/%Y %H:%M")
print(dt1)
dt2 = datetime.strptime('06-28-2019 09:20', '%m-%d-%Y %H:%M')
print(dt2)
dt3 = datetime.strptime('2021-06-27', '%Y-%m-%d')
print(dt3)

2018-08-30 00:00:00
2018-03-29 10:40:00
2019-06-28 09:20:00
2021-06-27 00:00:00

In [27]:
import locale

In [28]:
locale.setlocale(locale.LC_ALL, "")

'Russian_Russia.1251'

In [38]:
mow = datetime.now()
print(now)
print(now.strftime('%Y-%m-%d (%a)'))
print(now.strftime('%Y %B %d число %A'))

2021-03-25 15:28:15.057999
2021-03-25 (Чт)
2021 Март 25 число четверг

In [39]:
delta1 = timedelta(days=3, hours=2, minutes=10)
print(delta1)

3 days, 2:10:00

In [40]:
delta2 = timedelta(days=2, hours=1, minutes=5)

In [41]:
print(delta1-delta2)
print(delta2-delta1)

1 day, 1:05:00
-2 days, 22:55:00

In [42]:
my_birthday = date(1990, 2, 26)

delta = date.today() - my_birthday
print(type(delta))

my_age = int(delta.days/365)
print(my_age)

<class 'datetime.timedelta'>
31

In [43]:
wife_birthday = date(1992,10,28)

am_i_older = my_birthday < wife_birthday
print(am_i_older)

True